{% extends "layout.html" %}

{% block title %}
    Activity
{% endblock %}

{% block main %}
<style>
    .modal-content {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%; /* Ensure the modal takes up enough space */
    display: flex;
    justify-content: center;
    align-items: center;
}
    .modal-header,h6 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); /* Subtle shadow for text clarity */
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 8px; /* Slight rounding for smoothness */
    padding: 10px;
    background-color: white; /* Solid background */
    color: #333; /* High contrast text */
}
    .list-group{
       background-color: rgb(255,255,255,0.9);
    }

    .motion-bg {
        background-image: url('/static/defult/motion.png');
    }
    .cognition-bg {
        background-image: url('/static/defult/cognitive.png');
    }

    .language-bg {
        background-image: url('/static/defult/language.png');
    }

    .selfcare-bg {
        background-image: url('/static/defult/self_care.png');
    }

    .social-bg {
        background-image: url('/static/defult/social.png');
    }
</style>
<div dir="ltr">
    <a href="/home" class="btn btn-primary" style="float: left; margin-left:5%">العودة 🏠︎</a>
</div>

<table style="width:100%">
    <tr>
        <td style="width:20%">
            {% if n %}
            <form method="POST" action="/activity" style="margin-top:20%; height: 100%; width: 100%">
                <button class="btn btn-primary" style=" height: 50%; width:40%; margin-left:3%;" name="age_range" value="{{ n }}" type="submit">
                    <h3>⮞</h3>
                </button>
                <h5>{{ n }}</h5>
            </form>
            {% endif %}
        </td>
        <td style="width: 60%">
            <div style="width:100%; text-align: center">
                <h2>مهارات للطفل من {{ age_range }} سنوات</h2>
            </div>
        </td>
        <td style="width:20%">
            {% if p %}
            <form method="POST" action="/activity" style="margin-top:20%; height: 100%; width: 100%">
                <button class="btn btn-primary" style="height: 50%; width:40%; margin-right:3%;" name="age_range" value="{{ p }}" type="submit">
                    <h3>⮜</h3>
                </button>
                <h5>{{ p }}</h5>
            </form>
            {% endif %}
        </td>
    </tr>
</table>

<div style="display: flex; justify-content: center; gap: 10px;">
    <form method="get" action="/activity">
        <input type="hidden" name="age_range" value="{{ age_range }}">
        <button style='background-color: #B32E31' class="btn2" name="category" value="اللغة" type="submit"><h2>🗣</h2></button>
        <p>اللغة</p>
    </form>
    <form method="get" action="/activity">
        <input type="hidden" name="age_range" value="{{ age_range }}">
        <button style='background-color: #FAD052' class="btn2" name="category" value="الإدراك" type="submit"><h2>🧠</h2></button>
        <p>الإدراك</p>
    </form>
    <form method="get" action="/activity">
        <input type="hidden" name="age_range" value="{{ age_range }}">
        <button style='background-color: #7CB84B' class="btn2" name="category" value="الحركة" type="submit"><h2>🏃‍♂️</h2></button>
        <p>الحركة</p>
    </form>
    <form method="get" action="/activity">
        <input type="hidden" name="age_range" value="{{ age_range }}">
        <button style='background-color: #84A5D9' class="btn2" name="category" value="المساعدة الذاتية" type="submit"><h2>🍴</h2></button>
        <p>المساعدة<br> الذاتية</p>
    </form>
    <form method="get" action="/activity">
        <input type="hidden" name="age_range" value="{{ age_range }}">
        <button style='background-color: #9F67C7' class="btn2" name="category" value="المخالطة الاجتماعية" type="submit"><h2>👥</h2></button>
        <p>المخالطة<br> الاجتماعية</p>
    </form>
</div>

<p style="font-size: small">اختر ✔️ اذا تمكن طفلك من المهارة<br> اختر ⏹️ عند وجود بدايات للمهارة<br> اختر ❌ اذا لم يتمكن طفلك من المهارة</p>
<h3>مجال {{ category }}</h3><br>

<div style="display: flex; justify-content: center;">
    {% if category == 'اللغة' %}
    <table class='table blended-table' style="width: 80%; border-color: black; background-color: rgba(179, 46, 49, 0.2);">
    {% elif category == 'الإدراك' %}
    <table class='table blended-table' style="width: 80%; border-color: black; background-color: rgba(250, 208, 82, 0.4);">
    {% elif category == 'الحركة' %}
    <table class='table blended-table' style="width: 80%; border-color: black; background-color: rgba(124, 184, 75, 0.4);">
    {% elif category == 'المساعدة الذاتية' %}
    <table class='table blended-table' style="width: 80%; border-color: black; background-color: rgba(132, 165, 217, 0.4);">
    {% elif category == 'المخالطة الاجتماعية' %}
    <table class='table blended-table' style="width: 80%; border-color: black; background-color: rgba(159, 103, 199, 0.4);">
    {% endif %}

    {% for i in data %}
    <tr>
        <td>
            <br>
            <strong>{{ i.title }} - {{ i.performance }}</strong><br><br>
            <button class="btn btn-primary" style="font-size: 15px;" type="button" data-bs-toggle="modal" data-bs-target="#activitiesModal{{ loop.index }}">
                أنشطة مقترحة
            </button>

            <!-- Modal for Suggested Activities -->
            <div class="modal fade" id="activitiesModal{{ loop.index }}" tabindex="-1" aria-labelledby="activitiesModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content {% if category == 'الحركة' %}motion-bg{% elif category == 'الإدراك' %}cognition-bg{% elif category == 'اللغة' %}language-bg{% elif category == 'المساعدة الذاتية' %}selfcare-bg{% elif category == 'المخالطة الاجتماعية' %}social-bg{% endif %}">
                        <div class="modal-header">
                            <h5 class="modal-title" id="activitiesModalLabel">
                                {% if category == 'اللغة' %}
                                المهارة اللغوية
                                {% elif category == 'الإدراك' %}
                                المهارة الادراكية
                                {% elif category == 'الحركة' %}
                                المهارة الحركية
                                {% elif category == 'المساعدة الذاتية' %}
                                مهارة المساعدة الذاتية
                                {% elif category == 'المخالطة الاجتماعية' %}
                                مهارة المخالطة الاجتماعية
                                {% endif %}
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h6>{{ i.title }} - {{ i.performance }}</h6>
                            <ul class="list-group">
                                {% for activity in i.suggested_activities %}
                                <li class="list-group-item" style="background-color: rgba(255, 255, 255, 0.3)">{{ activity }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <form method="post" action="/update">
            <td>

                <input type="hidden" name="age_range" value="{{ age_range }}">
                <input type="hidden" name="performance_id" value="{{ i.id }}">
                <input type="hidden" name="child_age" value="{{ i.age }}">
                <input type="hidden" name="performance_title" value="{{ i.title }}">
                <input type="hidden" name="category" value="{{ category }}">
                <label>
                    <input type="radio" name="scale" value="2" {% if i.scale == 2 %}checked{% endif %}>
                    <p>✔️</p>
                </label>
                <label>
                    <input type="radio" name="scale" value="1" {% if i.scale == 1 %}checked{% endif %}>
                    <p>⏹️</p>
                </label>
                <label>
                    <input type="radio" name="scale" value="0" {% if i.scale == 0 %}checked{% endif %}>
                    <p>❌</p>
                </label>
                <label>
                    <div class="mb-3">
                        <textarea name="comment" placeholder="ملاحظة" class="form-control" id="comment">{{ i.comment }}</textarea>
                    </div>
                </label>
            </td>
        <td style="width: 10%">
            <button type="submit">تأكيد</button>
        </td></form>
    </tr>
    {% endfor %}
</table>


{% endblock %}
