{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div style="flex: 10; display: flex; flex-direction: column; align-items: center;">
        <form method="post" action="/assess_tut" style="position: absolute; left:5px;">
            <button class="btn2" type="submit" style="z-index:100; background: none; border: none;">
                <h2>❔</h2>
            </button>
        </form>
        <p style="position: absolute; padding-top: 50px; left:5px; background: none; border: none; z-index: 2; cursor: pointer; text-align: left; margin-left: 7px;">
            مساعدة
        </p>
</div>

<div class="progress-bar-container" id="f">
    <div class="step" id="step1">
        <span>1</span>
        <div class="label">اسم المستخدم و كلمة المرور</div>
    </div>
    <div class="step" id="step2">
        <span>2</span>
        <div class="label">معلومات عن الطفل</div>
    </div>
    <div class="step" id="step3">
        <span>3</span>
        <div class="label">تقييم مستوى الطفل</div>
    </div>
</div>
<style>

    @media (max-width: 768px) {
        #f{
            visibility: hidden;
            height:1px;
            display:none;

        }
        .progress-bar-container{
            top:1px;
        }
        .button-form {
            top:80px;
        }
        .button-form2{
            top:80px;
        }
    }
</style>
<br>
<div class="progress-bar-container">
    <div class="substep" id="substep1">
        <span>🏃‍♂️</span>
        <div class="label">3-1 تقييم العمر الحركي</div>
    </div>
    <div class="substep" id="substep2">
        <span>🗣</span>
        <div class="label">3-2 تقييم العمر اللغوي</div>
    </div>
    <div class="substep" id="substep3">
        <span>👥</span>
        <div class="label">3-3 تقييم العمر الاجتماعية</div>
    </div>
    <div class="substep" id="substep4">
        <span>🧠</span>
        <div class="label">3-4 تقييم العمر الإدراكي</div>
    </div>
    <div class="substep" id="substep5">
        <span>🍴</span>
        <div class="label">3-5 تقييم عمر المساعدة الذاتية</div>
    </div>
</div>
<script>
// Updates the visual state of the main steps based on the current step.
function setStep(currentStep) {
    const steps = document.querySelectorAll('.step'); // Get all elements with the 'step' class
    steps.forEach((step, index) => {
        if (index < currentStep - 1) {
            // Mark all steps before the current one as 'completed'
            step.classList.add('completed');
            step.classList.remove('active');
        } else if (index === currentStep - 1) {
            // Highlight the current step as 'active'
            step.classList.add('active');
            step.classList.remove('completed');
        } else {
            // Reset all steps after the current one
            step.classList.remove('active');
            step.classList.remove('completed');
        }
    });
}

// Updates the visual state of substeps within the current step.
function setSubstep(currentSubstep) {
    const substeps = document.querySelectorAll('.substep'); // Get all elements with the 'substep' class
    substeps.forEach((substep, index) => {
        if (index < currentSubstep - 1) {
            // Mark all substeps before the current one as 'completed'
            substep.classList.add('completed');
            substep.classList.remove('active');
        } else if (index === currentSubstep - 1) {
            // Highlight the current substep as 'active'
            substep.classList.add('active');
            substep.classList.remove('completed');
        } else {
            // Reset all substeps after the current one
            substep.classList.remove('active');
            substep.classList.remove('completed');
        }
    });
}

// Automatically updates the steps and substeps when the page loads.
// The `currentStep` and `currentSubstep` values are dynamically injected from Flask.
document.addEventListener('DOMContentLoaded', function() {
    const currentStep = {{ current_step }}; // Get the current step from Flask
    const currentSubstep = {{ current_substep }}; // Get the current substep from Flask
    setStep(currentStep); // Update the main steps
    setSubstep(currentSubstep); // Update the substeps
});

</script>

<br>
<form method="post" action="/submit_self_help" style="margin-right: auto;margin-left: auto; width:70%;display: flex; margin-top: 10px;">
    <div style="text-align: center;">
        <h1 style="margin: 0;">تقييم عمر المساعدة الذاتية 🍴</h1>
        <h2 style="margin: 0;">{{data[-1].age}} سنوات</h2>
    </div>
</form>
<div style="
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f5f5f5;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 20px;
    font-size: 1.2rem;">

  <div style="text-align: center;">
    <div style="font-size: 2rem; color: green;">✅</div>
    <span style="font-weight: bold; color: green;">يعرف</span>
    <p style="margin: 5px 0; color: #333;">اخترها اذا تمكن طفلك من المهارة</p>
  </div>

  <div style="text-align: center;">
    <div style="font-size: 2rem; color: orange;">⏳</div>
    <span style="font-weight: bold; color: orange;">لديه بدايات المعرفة</span>
    <p style="margin: 5px 0; color: #333;">اخترها عند وجود بدايات للمهارة</p>
  </div>

  <div style="text-align: center;">
    <div style="font-size: 2rem; color: red;">❌</div>
    <span style="font-weight: bold; color: red;">لا يعرف</span>
    <p style="margin: 5px 0; color: #333;">اخترها اذا لم يتمكن طفلك من المهارة</p>
  </div>
</div>

<div style="width:100%; display: flex; justify-content: center;">
    <form style="width: 70%" method="post" action="/save_self_help">
        <table class='table blended-table' style=" width:100%; border-color: black; background-color: rgba(255,255,255, 0.1);">
            <tr><th>رقم المهارة</th>
                <th>المهارة</th>
                <th>التقييم</th>

            </tr>
            {% for i in data %}
            {% if i.age[0]==child_age %}
            <tr {%if i.scale>=0 %} style=" background-color: rgba(0,0,0, 0.5);"{%endif%}>
                <td style="text-align: center; width: 10%;">
                    <strong>{{ i.title }}</strong>
                </td>
                <td style="width: 40%;">
                    <strong>{{ i.performance }}</strong>
                </td>
                <td>
                    <input type="hidden" name="performances[{{ loop.index0 }}][title]" value="{{ i.title }}">
                    <input type="hidden" name="performances[{{ loop.index0 }}][age]" value="{{ child_age }}">
                    <input type="hidden" name="performances[{{ loop.index0 }}][performance]" value="{{ i.performance }}">

                    <label>
                        <input type="radio" name="performances[{{ loop.index0 }}][scale]" value="2" {% if i.scale == 2 %}checked{% endif %} >
                        <p>✔️</p>
                    </label>
                    <label>
                        <input type="radio" name="performances[{{ loop.index0 }}][scale]" value="1" {% if i.scale == 1 %}checked{% endif %}>
                        <p>⏳</p>
                    </label>
                    <label>
                        <input type="radio" name="performances[{{ loop.index0 }}][scale]" value="0" {% if i.scale == 0 %}checked{% endif %}>
                        <p>❌</p>
                    </label>

                    <label>
                        <div class="mb-3">

                            <textarea name="performances[{{ loop.index0 }}][comment]" placeholder="ملاحظة" class="form-control" id="comment" >{{i.comment}}</textarea>

                       </div>
                    </label>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    <div style="display: flex; justify-content: space-between; width: 100%; padding-top: 10px;">
            <button class="btn btn-primary" type="submit" style="width: 48%;">حفظ 📌</button></form>
            <form method="post" action="/submit_self_help" style="width: 48%;">
                <button class="btn btn-primary" type="submit" {% if not done %} disabled{% endif %} style="width: 100%;">استلم خطتك 🏁</button>
            </form>
        </div>

<script>
// Dynamically adjusts the width of comment field based on its content.
function adjustWidth(input) {
    // Set the comment width to match the length of its value plus a little extra for spacing.
    input.style.width = (input.value.length + 1) + 'ch';
}
// If there's already a value in the input, adjust the width on page load
// Automatically adjusts the width of all inputs with the class 'dynamic-width'
// when the page loads, ensuring their size fits any pre-filled values.
document.querySelectorAll('.dynamic-width').forEach(function(input) {
    adjustWidth(input); // Adjust width for each input element found with the 'dynamic-width' class.
});

</script>
{% endblock %}

