{% extends "layout.html" %}

{% block title %}
    Forgot Password
{% endblock %}

{% block main %}
<div class="settings-container">
    <form action="/forgot_password" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" placeholder="البريد الإلكتروني" type="email">
        </div>
        <button class="btn btn-primary" type="submit">إعادة تعيين كلمة المرور</button>
    </form>
    </div>
{% endblock %}
