{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<h2>تسجيل الدخول</h2>
<h5>اختر نوع المستخدم:</h5>
<div class="containerr">
    <!-- Form for Parent -->
    <form action="/login" method="post" class="mr-4">
        <button class="btn btn-primary" name="type" value="p" type="submit">
            <h1>👪 ولي أمر</h1>
        </button>
    </form>

    <!-- Form for Specialist -->
    <form action="/login" method="post" class="ml-4">
        <button class="btn btn-primary" name="type" value="s" type="submit">
            <h1>👨‍💼 اخصائي</h1>
        </button>
    </form>
</div>
{% endblock %}
